<%- include('partials/header.ejs') -%>

<h1>Hello this the blog</h1>
<% posts.forEach(function (post) { %>
    <h1><%= post.title %></h1> 
    <p><%= post.entrie.substr(0, 300)%> 
    <a href="/posts/<%= post.title %>" >Read more...</a></p>
    
<% }); %> 
<button  style="color: aliceblue;" class="btn btn-primary"> <a href="/compose">Compose</a>fdfdf</button>

<%- include('partials/footer.ejs') -%>